@import "tailwindcss";

:root {

}

@theme {
  --color-prim: #f18701;
  --color-prim-light: #feb24d;
  --color-prim-lighter: #ffd299;
  --color-sec: #f7b801;
  --color-sec-light: #fed867;
  --color-sec-lighter: #fff2cc;
  --color-gray: #c5cbd3;
  --color-gray-dark: #555555;
  --color-dark: #333335;
  --color-light: #f0f0f0;

}

